option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: testpj.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: testpj.settings
    "PYTHONPATH": "/var/app/venv/staging-LQM1lest/lib64"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static