option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Watoon.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Watoon.settings
    "PYTHONPATH": "/var/app/venv/staging-LQM1lest/bin"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    